
{% extends 'portfolio/base.html' %}
{% block content %}

{% load static %}
<br>

<center>
<img src="{%  static 'portfolio/Portfolio.jpg' %}" height="450px" width="700px">
<div style="width:900px;">
  <br>
<h2>Arti is a Senior Software Engineer, graduated from NIT Jamshedpur. she likes web developments and knows python, Django, HTML, Javascript, CSS and Jquery very well.</h2>
</div>
</center>

{% for project in projects %}
<div style="width: 400px;height: 100px;float:left;margin:10px;color:gray;">
  <a style="color:black;" href="{% url 'portfolio' project.id %}" ><h2> {{ project.title}}</h2></a>
<p>{{ project.description|truncatechars:90}}<p>
<a href="{{project.url}}"><img src="{{ project.image.url}}" height="300" width="400"></a>


</div>
{% endfor %}




{% endblock %}
